In [1]:
import pandas as pd
import sqlite3
import sql

sql.style = 'plain'

%load_ext sql
connection=sqlite3.connect("leetcode_database.db")
print("Successfully connected to SQL database")


# Connect to SQLite
%sql sqlite:///leetcode_database.db
print("success")

Successfully connected to SQL database
success

In [4]:
%%sql

-- Drop the table if it already exists
DROP TABLE IF EXISTS Products;

-- Create the Products table
CREATE TABLE Products (
    product_id INT PRIMARY KEY,
    low_fats CHAR(1),
    recyclable CHAR(1)
);

-- Insert data into Products table
INSERT INTO Products (product_id, low_fats, recyclable) VALUES
(0, 'Y', 'N'),
(1, 'Y', 'Y'),
(2, 'N', 'Y'),
(3, 'Y', 'Y'),
(4, 'N', 'N');

 * sqlite:///leetcode_database.db
Done.
Done.
5 rows affected.

[]

In [5]:
%%sql
SELECT * FROM Products

 * sqlite:///leetcode_database.db
Done.

[(0, 'Y', 'N'), (1, 'Y', 'Y'), (2, 'N', 'Y'), (3, 'Y', 'Y'), (4, 'N', 'N')]

#### Problem Statement - Find ids of products that are both low fat and recyclable

* Pseduo Code
* Output requires column - product_id
* Those ids that satisfies both these conditions
* Will use "WHERE" for filtering out those product_id that satisfies both cases

In [6]:
%%sql

SELECT product_id
FROM Products
WHERE low_fats='Y' AND recyclable = 'Y'

 * sqlite:///leetcode_database.db
Done.

[(1,), (3,)]

* Few Learnings
  1. We use WHERE string_column = 'string' to filter out strings
  2. If we have to filter out an Integer, we'll simply write
  3. WHERE product_id = 3
  4. WHERE product_id ='3' works in some databases, but not ideal
  5. We can also filter out Float values like
  6. WHERE price = 10.5
  7. WHERE price > 10.5
  8. WHERE price < 10.5
  9. WHERE price BETWEEN 5.0 AND 15.0