In [1]:
import pandas as pd
import sqlite3
import sql

sql.style = 'plain'

%load_ext sql
connection=sqlite3.connect("leetcode_database.db")
print("Successfully connected to SQL database")


# Connect to SQLite
%sql sqlite:///leetcode_database.db
print("success")

Successfully connected to SQL database
success

In [2]:
%%sql
-- Drop the table if it already exists
DROP TABLE IF EXISTS Weather;

-- Create the Weather table
CREATE TABLE Weather (
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);

-- Insert data into Weather table
INSERT INTO Weather (id, recordDate, temperature) VALUES
(1, '2015-01-01', 10),
(2, '2015-01-02', 25),
(3, '2015-01-03', 20),
(4, '2015-01-04', 30);

 * sqlite:///leetcode_database.db
Done.
Done.
4 rows affected.

[]

In [3]:
%%sql
SELECT * FROM Weather

 * sqlite:///leetcode_database.db
Done.

[(1, '2015-01-01', 10),
 (2, '2015-01-02', 25),
 (3, '2015-01-03', 20),
 (4, '2015-01-04', 30)]

###### PS : Write a solution to find all dates' id with higher temperatures compared to its previous dates (yesterday).

* requirement is to compare today's temperature vs yesterday's.
* present temperature and previous day's temperature
* So, we'll only use LAG() WINDOW FUNCTION

In [16]:
%%sql

SELECT id, recordDate,
    temperature,
    LAG (temperature) OVER (ORDER BY recordDate) AS Previous_day_temp
FROM Weather

 * sqlite:///leetcode_database.db
Done.

[(1, '2015-01-01', 10, None),
 (2, '2015-01-02', 25, 10),
 (3, '2015-01-03', 20, 25),
 (4, '2015-01-04', 30, 20)]

* USE CTE here to put the WHERE condition or otherwise, how would WHERE knows prev-day_temp_column

In [18]:
%%sql

WITH temp AS (
    SELECT id, recordDate,
    temperature,
    LAG (temperature) OVER (ORDER BY recordDate) AS Previous_day_temp
    FROM Weather
)
SELECT *
FROM temp
WHERE temperature>Previous_day_temp

 * sqlite:///leetcode_database.db
Done.

[(2, '2015-01-02', 25, 10), (4, '2015-01-04', 30, 20)]

In [22]:
%%sql

WITH temp AS (
    SELECT id, recordDate,
    temperature,
    LAG (temperature) OVER (ORDER BY recordDate) AS Previous_day_temp
    FROM Weather
)
SELECT id
FROM temp
WHERE temperature>Previous_day_temp   -- Present temp > previous day's temperature

 * sqlite:///leetcode_database.db
Done.

[(2,), (4,)]