In [1]:
import pandas as pd
import sqlite3
import sql

sql.style = 'plain'

%load_ext sql
connection=sqlite3.connect("leetcode_database.db")
print("Successfully connected to SQL database")


# Connect to SQLite
%sql sqlite:///leetcode_database.db
print("success")

Successfully connected to SQL database
success

In [2]:
%%sql
-- Drop the table if it already exists
DROP TABLE IF EXISTS World;

-- Create the World table
CREATE TABLE World (
    name VARCHAR(100),
    continent VARCHAR(50),
    area INT,
    population INT,
    gdp BIGINT
);

-- Insert data into the World table
INSERT INTO World (name, continent, area, population, gdp) VALUES
('Afghanistan', 'Asia', 652230, 25500100, 20343000000),
('Albania', 'Europe', 28748, 2831741, 12960000000),
('Algeria', 'Africa', 2381741, 37100000, 188681000000),
('Andorra', 'Europe', 468, 78115, 3712000000),
('Angola', 'Africa', 1246700, 20609294, 100990000000);

 * sqlite:///leetcode_database.db
Done.
Done.
5 rows affected.

[]

In [3]:
%%sql
SELECT * FROM World

 * sqlite:///leetcode_database.db
Done.

[('Afghanistan', 'Asia', 652230, 25500100, 20343000000),
 ('Albania', 'Europe', 28748, 2831741, 12960000000),
 ('Algeria', 'Africa', 2381741, 37100000, 188681000000),
 ('Andorra', 'Europe', 468, 78115, 3712000000),
 ('Angola', 'Africa', 1246700, 20609294, 100990000000)]

#### A country is big if:
* it has an area of at least three million (i.e., 3000000 km2), or
* it has a population of at least twenty-five million (i.e., 25000000).
* Write a solution to find the name, population, and area of the big countries.

In [13]:
%%sql
SELECT name,population, area 
FROM World
WHERE area>=3000000 OR population>=25000000   -- >= - greater than or equal to

-- area either greater than or equal to - 'atleast' means that
-- population either greater than or equal to

 * sqlite:///leetcode_database.db
Done.

[('Afghanistan', 25500100, 652230), ('Algeria', 37100000, 2381741)]

In [ ]:
* A country is considered to be BIG if any of the two cono