In [1]:
import pandas as pd
import sqlite3
import sql

sql.style = 'plain'

%load_ext sql
connection=sqlite3.connect("leetcode_database.db")
print("Successfully connected to SQL database")


# Connect to SQLite
%sql sqlite:///leetcode_database.db
print("success")

Successfully connected to SQL database
success

In [2]:
%%sql
-- Drop the table if it already exists
DROP TABLE IF EXISTS Tweets;

-- Create the Tweets table
CREATE TABLE Tweets (
    tweet_id INT PRIMARY KEY,
    content VARCHAR(255)
);

-- Insert data into Tweets table
INSERT INTO Tweets (tweet_id, content) VALUES
(1, 'Let us Code'),
(2, 'More than fifteen chars are here!');

 * sqlite:///leetcode_database.db
Done.
Done.
2 rows affected.

[]

In [3]:
%%sql
SELECT * FROM Tweets

 * sqlite:///leetcode_database.db
Done.

[(1, 'Let us Code'), (2, 'More than fifteen chars are here!')]

###### PS:  Write a solution to find the IDs of the invalid tweets. 
* The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

In [4]:
%%sql

SELECT *,LENGTH(content) AS character_length
FROM Tweets

 * sqlite:///leetcode_database.db
Done.

[(1, 'Let us Code', 11), (2, 'More than fifteen chars are here!', 33)]

### LENGTH() - to count the total number of characters
### It also counts spaces as well

In [5]:
%%sql
SELECT *,LENGTH(content) AS character_length
FROM Tweets
WHERE character_length > 15                     -- characters more than 15 (strict)

 * sqlite:///leetcode_database.db
Done.

[(2, 'More than fifteen chars are here!', 33)]

In [6]:
%%sql
SELECT tweet_id,LENGTH(content) AS character_length
FROM Tweets
WHERE character_length > 15

 * sqlite:///leetcode_database.db
Done.

[(2, 33)]

* If only tweet_id is required in the output, no count of character_length

In [7]:
%%sql

SELECT tweet_id
FROM Tweets
WHERE LENGTH(content)  > 15

 * sqlite:///leetcode_database.db
Done.

[(2,)]

* Tweet 2 has length = 33. It is an invalid tweet.