In [1]:
import pandas as pd
import sqlite3
import sql

sql.style = 'plain'

%load_ext sql
connection=sqlite3.connect("leetcode_database.db")
print("Successfully connected to SQL database")


# Connect to SQLite
%sql sqlite:///leetcode_database.db
print("success")

Successfully connected to SQL database
success

In [3]:
%%sql
-- Drop tables if they already exist
DROP TABLE IF EXISTS Sales;
DROP TABLE IF EXISTS Product;

-- Create the Product table
CREATE TABLE Product (
    product_id INT PRIMARY KEY,
    product_name VARCHAR(100)
);

-- Insert data into Product
INSERT INTO Product (product_id, product_name) VALUES
(100, 'Nokia'),
(200, 'Apple'),
(300, 'Samsung');

 * sqlite:///leetcode_database.db
Done.
Done.
Done.
3 rows affected.

[]

In [4]:
%%sql
-- Create the Sales table
CREATE TABLE Sales (
    sale_id INT PRIMARY KEY,
    product_id INT,
    year INT,
    quantity INT,
    price INT
);

-- Insert data into Sales
INSERT INTO Sales (sale_id, product_id, year, quantity, price) VALUES
(1, 100, 2008, 10, 5000),
(2, 100, 2009, 12, 5000),
(7, 200, 2011, 15, 9000);

 * sqlite:///leetcode_database.db
Done.
3 rows affected.

[]

In [5]:
%%sql
SELECT * FROM Product

 * sqlite:///leetcode_database.db
Done.

[(100, 'Nokia'), (200, 'Apple'), (300, 'Samsung')]

In [6]:
%%sql
SELECT * FROM Sales

 * sqlite:///leetcode_database.db
Done.

[(1, 100, 2008, 10, 5000), (2, 100, 2009, 12, 5000), (7, 200, 2011, 15, 9000)]

##### PS:  Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

In [7]:
%%sql

SELECT s.sale_id,p.product_name,s.year,s.price
FROM Sales s
LEFT JOIN Product p
ON s.product_id=p.product_id

 * sqlite:///leetcode_database.db
Done.

[(1, 'Nokia', 2008, 5000), (2, 'Nokia', 2009, 5000), (7, 'Apple', 2011, 9000)]