In [1]:
import pandas as pd
import sqlite3
import sql

sql.style = 'plain'

%load_ext sql
connection=sqlite3.connect("leetcode_database.db")
print("Successfully connected to SQL database")


# Connect to SQLite
%sql sqlite:///leetcode_database.db
print("success")

Successfully connected to SQL database
success

In [2]:
%%sql
-- Drop the table if it already exists
DROP TABLE IF EXISTS Views;

-- Create the Views table
CREATE TABLE Views (
    article_id INT,
    author_id INT,
    viewer_id INT,
    view_date DATE
);

-- Insert data into Views table
INSERT INTO Views (article_id, author_id, viewer_id, view_date) VALUES
(1, 3, 5, '2019-08-01'),
(1, 3, 6, '2019-08-02'),
(2, 7, 7, '2019-08-01'),
(2, 7, 6, '2019-08-02'),
(4, 7, 1, '2019-07-22'),
(3, 4, 4, '2019-07-21'),
(3, 4, 4, '2019-07-21');

 * sqlite:///leetcode_database.db
Done.
Done.
7 rows affected.

[]

In [3]:
%%sql
SELECT * FROM Views

 * sqlite:///leetcode_database.db
Done.

[(1, 3, 5, '2019-08-01'),
 (1, 3, 6, '2019-08-02'),
 (2, 7, 7, '2019-08-01'),
 (2, 7, 6, '2019-08-02'),
 (4, 7, 1, '2019-07-22'),
 (3, 4, 4, '2019-07-21'),
 (3, 4, 4, '2019-07-21')]

##### PS : Write a solution to find all the authors that viewed at least one of their own articles.

Understanding the Problem
* Find those authors who have viewed thier own article
* author is a person
* Written in the question - Note that equal author_id and viewer_id indicate the same person.
* similarly, viewer is also a person, so we'll see where they matches
* if the viewed_id = author_id, that means, author have seen his/her own article
* sorted by id in ASCENDING ORDER - lowest to highest

In [9]:
%%sql
SELECT *
FROM Views
WHERE author_id=viewer_id

 * sqlite:///leetcode_database.db
Done.

[(2, 7, 7, '2019-08-01'), (3, 4, 4, '2019-07-21'), (3, 4, 4, '2019-07-21')]

In [11]:
%%sql
SELECT author_id
FROM Views
WHERE author_id=viewer_id

 * sqlite:///leetcode_database.db
Done.

[(7,), (4,), (4,)]

In [13]:
%%sql 
SELECT DISTINCT(author_id)  -- Distinct removes duplicate rows
FROM Views
WHERE author_id=viewer_id

 * sqlite:///leetcode_database.db
Done.

[(7,), (4,)]

- Learnings
    1. DISTINCT (column) - gives unique value of a column
    2. Removes Duplicates
    3. Works at Row Level, it checks values row

* Common Mistake

SELECT DISTINCT viewer_id, view_date

FROM Views;

* This will not just give you distinct viewer_ids â€” it will give distinct combinations of viewer_id + view_date. 
* So if a user views something on two different dates, you'll get two rows.